.container {
  position: relative;
  margin: 2em auto;
  /* height: 80vh; */
  /* width: 80vh; */
  height: 30em;  /* 16px * 30 = 460px */
  width: 30em;
  border: solid black .5em;
  background-color: black;
}

.text-centered {
  text-align: center;
}

#cat-header-image {
  display: block;
  margin: auto;
  height: 8em;
  width: 8em;
}

#cat-game-image {
  display: inline-block;
  position: absolute;
  /* bottom: 14em; */
  /* left: 14em; */
  height: 3em;
  width: 3em;
}
/* to delete at some point: */
.dotty {
  position: absolute;
  background-color: pink;
  height: 1em;
  width: 1em;
  left: 19em;
  bottom: 22em;
}
