.header {
  margin: 2em auto 0em auto;
  height: 8em; /* 800px x 160px */
  width: 50em;
}


.navBar {
  margin: 0em auto;
  height: 5em; /* 640px x 80px */
  width: 40em;
}


.navlink {
  display: inline-block;
  /* float: left; */
  margin: 0 3.5em;
}
/* .navlink {
  display: inline-block;
  text-align: center;

} */

/* This centers an image on its own */
/* .navlink {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 3em;
} */

#game-container {
  height: 31em;
  width: 61em;
  margin: 0em auto;
}

.column {
  height: 30em;
  width: 15em;
  float: left;
  background-color: red;
}

.test-container {
  height: 30em;  /* 16px * 30 = 460px */
  width: 30em;
  border: solid blue .5em;
  background-color: black;
  background-color: pink;
  float: left;
}

.no-vertical-margin {
  margin: 0em auto;
}

.container {
  position: relative;
  margin: 0 auto;
  /* height: 80vh; */
  /* width: 80vh; */
  height: 30em;  /* 16px * 30 = 460px */
  width: 30em;
  border: solid blue .5em;
  background-color: black;
  float: left;
}

.text-centered {
  text-align: center;
}

.cat-menu-image {
  display: block;
  margin: 5em auto;
  /* height: 8em; */
  /* width: 8em; */
}

#cat-game-image {
  /* display: inline-block;
  position: absolute; */
  /* bottom: 14em; */
  /* left: 14em; */
  /* height: 3em; */
  /* width: 3em; */
}
/* to delete at some point: */
.dotty {
  position: absolute;
  background-color: pink;
  height: 1em;
  width: 1em;
  left: 19em;
  bottom: 22em;
}
