.container {
  position: relative;
  margin: auto;
  /* height: 80vh; */
  /* width: 80vh; */
  height: 30em;  /* 16px * 30 = 460px */
  width: 30em;
  border: solid black .5em;
  background-color: black;
}

.text-centered {
  text-align: center;
}


.dot {
  position: absolute;
  top: 0em; /* 0 em to 28 em is right up against boarder, at 2 em sized dots */
  left: 27em; /* 0 em to 27 em is right up against boarder, at 3 em sized dots */
  height: 3em; /* 30 ems = container width or height */
  width: 3em;
  background-color: pink;
}
