.container {
  position: relative;
  margin: auto;
  /* height: 80vh; */
  /* width: 80vh; */
  height: 30em;  /* 16px * 30 = 460px */
  width: 30em;
  border: solid black .5em;
  background-color: black;
}

.text-centered {
  text-align: center;
}

/* to delete at some point: */
.dotty {
  position: absolute;
  background-color: pink;
  height: 1em;
  width: 1em;
  left: 19em;
  bottom: 22em;
}
